name: rosetta-cli-test

on:
  push:
    branches:
      - main
      - release/**
  pull_request:
  merge_group:

permissions:
  contents: read

jobs:
  rosetta-cli-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: '^1.23'
      - name: Run make test-rosetta-ci
        run:
          COSMOS_SDK_VERSION=v0.50.3
          make test-rosetta-ci
        shell: bash